@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

.imagen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}

.degradado {
    background-color: #4e80c0;
    background-image: linear-gradient(to bottom, #4e80c0, #ffffff);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oxanium', cursive;
}

.degradado h1 {
    position: absolute; 
    font-size: 100px;
    color: #000000;
}
