.calendario{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 63vh;
}

.calendario:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.sobre{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 23vh;
}

.sobre:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.cerrar{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 165vh;
}

.cerrar:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.usuario{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 46vh;
    left: 70vh;
}

.usuario:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.mapa{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 98vh;
}

.mapa:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.telefono{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 135vh;
}

.telefono:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.perfil{
    position: absolute;
    width: 30vh;
    height: 30vh;
    top: 4vh;
    left: 39.5vh;
    border-radius: 50%;
    border-color: black;
}

.perfil:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.nombre{ 
    position: absolute;
    top: 45vh;
    left: 78vh;
}

.boton{
    position: absolute;
    width: 10vh;
    height: 10vh;
    top: 37vh;
    left: 91vh;
    border-radius: 50%;
}

.correo{ 
    position: absolute;
    top: 68vh;
    left: 10vh;
}

.cel{ 
    position: absolute;
    top: 68vh;
    left: 128vh;
}

.contraseña{
    position: absolute;
    top: 68vh;
    left: 160vh;
}

.cumpleaños{
    position: absolute;
    top: 68vh;
    left: 48vh;
}

.direccion{
    position: absolute;
    top: 68vh;
    left: 90vh;
}

