.calendario{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 80vh;
}

.calendario:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.sobre{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 60vh;
}

.sobre:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.cerrar{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 140vh;
}

.cerrar:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.usuario{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 40vh;
}

.usuario:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.mapa{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 100vh;
}

.mapa:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.telefono{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 60vh;
    left: 120vh;
}

.telefono:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.perfil{
    position: absolute;
    width: 30vh;
    height: 30vh;
    top: 4vh;
    left: 39.5vh;
    border-radius: 50%;
    border-color: black;
}

.perfil:hover{
    filter: invert(97%) sepia(57%) saturate(4526%) hue-rotate(51deg) brightness(102%) contrast(105%);
    cursor: pointer;
    
}

.nombre{ 
    position: absolute;
    top: 45vh;
    left: 78vh;
}

.boton{
    position: absolute;
    width: 10vh;
    height: 10vh;
    top: 37vh;
    left: 91vh;
    border-radius: 50%;
}